.cardText {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  width: auto;
  max-height: fit-content;
  cursor: text;
  resize: none;
  box-shadow: none;
  overflow: hidden;
}

@media only screen and (max-width: 1024px){
  .cardText{
    font-size: 0.8rem;
  }
}

