.profileImage{
  box-sizing: border-box;
  border-radius: 99999px;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  align-self: flex-start;
  justify-self: center; 
}

@media only screen and (max-width: 1024px){
  .profileImage {
    width: 3rem;
    height: 3rem;
  }
}
