.imageContainer {
  width: 100%;
  height: auto;
  padding: 0.4rem 0;
  position: relative;
  margin-bottom: 1rem;
}

.cardImage {
  max-width: 20rem;
  max-height: 20rem;
  margin: auto;
  margin-bottom: 1rem;
}

.newImageForm {
  width: 100%;
  height: 100%;
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.newImageForm > svg {
  font-size: 2rem;
}

.newImageFormInfo {
  font-size: 1.1rem;
  color: #2e2e2e;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.enterImageChoices {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.imageInputHidden {
  display: none;
}

.imageButton {
  width: auto;
  padding: 0.5rem 0.75rem;
  font-size: inherit;
  text-align: center;
  color: #f8f9fa;
  background-color: #669bbc;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
}

.newImageURL {
  width: auto;
  height: auto;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #003049;
  color: #1d3557;
  background-color: transparent;
  outline: none;
}

.error {
  font-size: inherit;
  color: #d62828;
  width: 80%;
  text-align: center;
}
.buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.discardChanges,
.saveChanges {
  width: auto;
  height: auto;
  text-align: center;
  color: #edf6f9;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.saveChanges {
  background-color: #17c3b2;
}

.discardChanges {
  background-color: #d62828;
}

.imageTitle {
  margin-bottom: 0.5rem;
  font-family: "Merriweather", serif;
}
.imageDescription {
  margin-bottom: 0.5rem;
}

.imageSource {
  text-decoration: none;
  color: #6c757d;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .cardImage {
    max-width: 20rem;
  }
  .newImageForm > svg {
    font-size: 1.2rem;
  }
  .enterImageChoices {
    flex-direction: column;
    gap: 1rem;
  }
  .discardChanges,
  .saveChanges,
  .error,
  .newImageURL,
  .imageButton,
  .newImageFormInfo {
    font-size: 0.8rem;
  }
}
